params {
    obsdir = '/scratch/mwasci/user/observations'
    mosaicdir = '/scratch/mwasci/user/mosaic'
    reportCsv = '/scratch/mwasci/user/dip/dip_report.csv'
    briggs = '0.3'
    tukey = '875'
    ra = '135'
    dec = '0.5'
    mosaicSample = 0
}

process {
    container = '/scratch/mwasci/user/containers/dip.sif'
    containerOptions = '--bind /scratch/mwasci/user,/scratch/mwasci/asvo,/software/projects/mwasci/user,/scratch/mwasci/user:/home/user'
    stageInMode = 'copy'
    executor = 'slurm'
    queueSize = 150
    errorStrategy = 'ignore'
    cpus = 19
    memory = '50G'
    clusterOptions = '--account=acountname'
    beforeScript = 'module load singularity/3.11.4-slurm'
}

singularity.enabled = true
