params.obsdir = '/astro/mwasci/user/observations'

process.container = '/astro/mwasci/tgalvin/gleamx_testing_small.img'
process.containerOptions = '--bind /astro/mwasci/user,/astro/mwasci/user:/home/user'
singularity.enabled = true

process.executor = 'slurm'
process.errorStrategy = 'ignore'
process.cpus = 24 
process.memory = '50G'
process.beforeScript = 'module load singularity'

