params.obsdir = '/astro/mwasci/user/observations'

process.scratch = '/nvmetmp'
process.stageInMode = 'copy'
process.container = '/astro/mwasci/user/gleamx.img'
process.containerOptions = '--bind /astro/mwasci/user,/astro/mwasci/user:/home/user,/nvmetmp'
singularity.enabled = true

process.executor = 'slurm'
process.errorStrategy = 'ignore'
process.cpus = 24 
process.memory = '50G'
process.clusterOptions = '--tmp=50g'
process.beforeScript = 'module load singularity'
